/* *{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
} */
body{
    background-color: beige ;
}

.container{
    padding: 10px;
    height: 500px;
    background-color: aqua;
    border: 3px solid black;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 50px 1fr 50px;

    gap: 10px;
}

.box{
    text-align: center;
    place-items: center;
    place-content: center;
    top: 50%;
    left: 50%;
    background-color: burlywood;
    border: 1px solid red;
}
#box-1,#box-5{
    grid-column-start: 1;
    grid-column-end: 4;
}